.animate {
    h2 {
        margin: 50px;
        display: flex;
        justify-content: center;
        font-family: 'Hurricane', cursive;
        color: rgba(255, 1, 1, 0.808);
        font-size: 2.5rem;
    }
}