section {
    div {
        img {
            display: flex;
            width: 80%;
            object-fit: cover;
            padding: 50px;
            margin-left: 2em;
        }
    }
    .palabrasinicio {
        display: flex;
        font-family: 'Poppins', sans-serif;
        padding: 50px;
    }
}