

section {
    div {
        img {
            display: flex;
            object-fit: cover;
            padding: 50px;
            margin-left: 2em;
        }
    }
    .palabrasinicio {
        display: flex;
        font-family: 'Poppins', sans-serif;
        padding: 50px;
    }
}

.home {
    background-image: url(../../images/playa.jpg);
    
}