footer {
    section {
        .instagram {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 4%;
        }
        .whatsapp {
            position: fixed;
            bottom: 0%;
            right: 5%;
            width: 3.5%;
        }
    }
}